
#categories{
  font-size: 3em;
  text-align: center;
  color: white;



}

#categoriesbackground{
  text-align: center;
  padding: 6em;
  background: #ff9900;
  color: black;
}

a{
  color: white;
}

#itisall{
  background-color: white;
  border: 2px solid white;
  color: black;
  text-align: center;
  // margin-right: -1.1em;
}

#itisall2{
  background-color: white;
  border: 2px solid white;
  color: black;
  text-align: center;
  height: 20em;
  background-color: #ff9900;
  color: black;
}

#itisall3{
  background-color: white;
  border: 2px solid white;
  color: black;
  text-align: center;
  height: 20em;
  background-color: black;
  color: white;
}

a#itisalllink{
  color:black;
}

#itisallimage{
  height: 239px;
    width: 659px;
    padding: 0;

}

#itisallimage10{
  height: 239px;
    width: 659px;
    padding: 0;
    position: relative;

}


#imageicon1{
  position: absolute;
  color: white;
  bottom: 0;
  margin-left: 2em;
  text-transform: uppercase;
}

#itisallmain{
  background:  #ff9900;

}

.image-container{
  padding: 0;
}

#sectionfive{
  background: #00e600;
}
